<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="world_file" default="$(find database)/objects/worlds/empty.world"/>
  <arg name="my_robot" default="dummy"/> 

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include> 
  
 <!-- Send URDF to param server -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find robot)/urdf/$(arg my_robot).xacro'"/>

  <!-- Send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>
   
  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" 
        type="robot_state_publisher" respawn="false" output="screen"/> 

  <!-- Spawn robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
        respawn="false" output="screen" 
        args="-urdf -param robot_description -model $(arg my_robot) 
              -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
 
  <!-- Launch RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" 
        args = "-d $(find database)/rviz/simple.rviz" respawn="false"/> 
        
</launch>